<!--<im-issue-list-->
<!--header="Issue list"-->
<!--issues="mainCtrl.issueModel.issues"-->
<!--on-issue-edit="mainCtrl.openIssueDetails(selectedIssue)"-->
<!--on-issue-create="mainCtrl.openIssueCreationDialog(selectedIssue)"-->
<!--on-issue-delete="mainCtrl.deleteIssue(selectedIssue)">-->
<!--</im-issue-list>-->

<h2>Issue tree</h2>
<ul>
    <im-issue-tree-node
            issue="mainCtrl.rootIssue"
            on-issue-edit="mainCtrl.openIssueDetails(selectedIssue)"
            on-issue-create="mainCtrl.openIssueCreationDialog(selectedIssue)"
            on-issue-delete="mainCtrl.deleteIssue(selectedIssue)">
    </im-issue-tree-node>
</ul>

<div ng-show="mainCtrl.creationDialogVisible">
    <im-close-button on-click="mainCtrl.closeIssueCreationDialog()"></im-close-button>
    <im-issue-creation
            parent-issue="mainCtrl.selectedIssue">
    </im-issue-creation>
</div>

<div ng-show="mainCtrl.detailsDialogVisible">
    <im-close-button on-click="mainCtrl.closeIssueDetails()"></im-close-button>
    <im-issue-details
            issue="mainCtrl.selectedIssue">
    </im-issue-details>
</div>

