<li>
    <span ng-bind="issueTreeNodeCtrl.issue.name"></span>

    <button class="btn btn-success btn-sm"
            ng-click="issueTreeNodeCtrl.createIssue(issueTreeNodeCtrl.issue);"><span
            class="glyphicon glyphicon-plus"></span></button>
    <button class="btn btn-success btn-sm"
            ng-click="issueTreeNodeCtrl.editIssue(issueTreeNodeCtrl.issue);"><span
            class="glyphicon glyphicon-edit"></span></button>
    <button class="btn btn-danger btn-sm"
            ng-click="issueTreeNodeCtrl.deleteIssue(issueTreeNodeCtrl.issue)"><span
            class="glyphicon glyphicon-minus"></span></button>
    <br/>

    <ul>
        <im-issue-tree-children
                issue="issueTreeNodeCtrl.issue" issue-notifier="issueTreeNodeCtrl.issueNotifier">
        </im-issue-tree-children>
    </ul>
</li>