<li style="list-style-type: none">
    <div ng-mouseover="treeCtrl.contextMenuVisible = true"
         ng-mouseleave="treeCtrl.contextMenuVisible = false">

        <div>
            <span ng-class="treeCtrl.getCollapseIconClass()"></span>&nbsp;
            <span ng-bind="treeCtrl.node.name"
                  ng-click="treeCtrl.toggleChildrenVisibility()"></span>

            <span class="glyphicon glyphicon-plus"
                  ng-show="!!treeCtrl.contextMenuVisible"
                  ng-click="treeCtrl.createNode(treeCtrl.node);"></span>
            <span class="glyphicon glyphicon-edit"
                  ng-show="!!treeCtrl.contextMenuVisible"
                  ng-click="treeCtrl.editNode(treeCtrl.node);"></span>
            <span class="glyphicon glyphicon-minus"
                  ng-show="!!treeCtrl.contextMenuVisible"
                  ng-click="treeCtrl.deleteNode(treeCtrl.node)"></span>
        </div>
    </div>

    <ul ng-show="!!treeCtrl.childrenVisible">
        <im-tree-children node="treeCtrl.node" node-notifier="treeCtrl.nodeNotifier">
        </im-tree-children>
    </ul>
</li>